@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Indie+Flower&family=Rubik+Mono+One&family=Swanky+and+Moo+Moo&display=swap');


//Colors
$linksColor:#000;
$primaryColor:#ff8c00;
$colorSlogan:#dc143c;
$secondaryColor:#f0ffff;

//Fonts
$fontMenu: 'Indie Flower', cursive;
$fontitle: 'Rubik Mono One', sans-serif;
// $fontP:;
$fontSlogan:'Swanky and Moo Moo', cursive;
