/* MEDIDAS MEDIA QUIERIES 
Medidas aprox de media queries

320px — 480px: Mobile

481px — 768px: Tablets / Ipdas

769px — 1024px: Laptops pantalla pequeñas.

1025px — 1200px: Escritorio, pantallas grandes.

1201px and more — Super pantallas, tv*/

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Fontdiner+Swanky&family=Galindo&family=Ribeye+Marrow&family=Seymour+One&family=Swanky+and+Moo+Moo&display=swap');
/* font-family: 'Bungee Outline', cursive;
font-family: 'Fontdiner Swanky', cursive;
font-family: 'Galindo', cursive;
font-family: 'Ribeye Marrow', cursive;
font-family: 'Seymour One', sans-serif;
font-family: 'Swanky and Moo Moo', cursive; */
/* RESET */
*{margin: 0;padding: 0;box-sizing: border-box;}
a{text-decoration: none; color: aliceblue;}
body{
    background-color: #ff8c00;
}
.containerHero{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr  1fr 1fr 1fr;
    grid-template-areas: 
    "logo   logo   logo"
    "banner banner banner"
    "header header header"
    "footer footer footer";
}

.logo{
    background-color: #ff8c00;
    grid-area: logo;
    display: flex;
    justify-content: center;
    
}
.logo img{
    width: 50%;
}
.banner{
    background-color: #ff8c00;
    grid-area: banner;
    display: flex;
    justify-content: center;
}
.banner img{
    width: 90%
}
.header{
    background-color: rgb(0, 0, 0);
    grid-area: header;
    width: auto;
    height: auto;
    
}
.menu{
    list-style: none;
    display: flex;
    
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
    font-size: x-large;
    font-family: 'Fontdiner Swanky', cursive;
}
.menu__item.active a, .menu__item a:hover{
    color: darkorange;
}
.footer{
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
    border: 1rem solid black;
}
.footer .logo{
    width: 3rem;
    background-color: aliceblue;
}


/* NOSOTROS */
.containerNosotros{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "quienesSomos quienesSomos imgQ"
    "imgM      mision       mision"
    "vision       vision       imgV"
    "header       header       header"
    "footer       footer       footer";
}

.quienesSomos{
    grid-area:quienesSomos;
    background-color: #ff8c00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: justify;
    padding: 3rem;
}

.imgQ{
    grid-area: imgQ;
    background-color: #ff8c00;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgQ img{
    width: 100%;
    border-radius: 50px;
    padding: 1rem;
    
    
}

.imgM{
    grid-area: imgM;
    background-color: #ff8c00;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.imgM img{
    width: 100%;
    border-radius: 50px;
    padding: 1rem;
}
   
.mision{
    grid-area:mision;
    background-color: #ff8c00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: justify;
    padding: 3rem;
}

.vision{
    grid-area: vision;
    background-color: #ff8c00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: justify;
    padding: 3rem;
}
.imgV{
    grid-area: imgV;
    background-color: #ff8c00;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgV img{
    width: 100%;
    border-radius: 50px;
    padding: 1rem;    
}

.header{
    grid-area:header ;
}
.footer{
    grid-area: footer;
}




/* PRODUCTOS */

.contenedorProductos{
    width: 100%;
    height: 100vh;
    background-color: #ff8c00;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: 3fr 3fr 3fr 1fr 1fr;
    grid-template-areas: 
    "vitaminas   granos descripcion"
    "frutosSecos frutas descripcion"
    "verduras  salsas      descripcion"
    "header      header         header"
    "footer      footer         footer";
}

.descripcion{
    grid-area:descripcion ;
    background-image: url(../imagenes/imagenes/hand-meray.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: aliceblue;

}
.vitaminas{
    grid-area:vitaminas;    
    background-image: url(../imagenes/imagenes/vitaminas.jpg);    
}
.granos{
    grid-area:granos;    
    background-image: url(../imagenes/imagenes/granos.jpg);
}
.frutosSecos{
    grid-area:frutosSecos;    
    background-image: url(../imagenes/imagenes/frutossecos.jpg);
}
.frutas{
    grid-area:frutas;
    background-image: url(../imagenes/imagenes/frutas.jpg);  
}
.verduras{
    grid-area:verduras;
    background-image: url(../imagenes/imagenes/verduras.jpg);
}
.salsas{
    grid-area:salsas;
    background-image: url(../imagenes/imagenes/salsas.jpg);
}

.header{
    grid-area: header;
}
.footer{
    grid-area: footer;
}

.cards{
   display: flex;
   justify-content:center;
   align-items: center;   
   margin: 1rem;
   border-radius: 10px;
   background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}
.descripcion{
    display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   padding: 1rem;
   margin: 1rem;
   border-radius: 10px;
   background-color: rgba(0, 0, 0, 0.507);
}

.contenedorProductos h2,h3{
    font-size: xx-large;
    text-align: center;
    font-weight: 1000;
    color: #070707;
    font-family: 'Ribeye Marrow', cursive;
    


    
}
.contenedorProductos p{
    font-size: large;
    color: black;
    font-family: 'Swanky and Moo Moo', cursive;
    margin-bottom: 10px;
}


/* RECETAS */
.contenedorRecetas{
    width: 100%;
    height: 100vh;
    background-color: #ff8c00;
    display: grid;
    grid-template-columns: repeat(3, 2fr) ;
    grid-template-rows: 3fr 3fr 3fr 3fr 1fr 1fr;
    grid-template-areas: 
    "descripcion zumos  ensaladas"
    "descripcion zumos ensaladas"
    "canal sopas desayunos"
    "canal sopas desayunos"
    "header      header         header"
    "footer      footer         footer";
}

.recetas{
    background-image: url(../imagenes/imagenes/granola.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.zumos{
    grid-area:zumos;    
    background-image: url(../imagenes/imagenes/batidoEspinaca.jpg);    
}
.ensaladas{
    grid-area:ensaladas;    
    background-image: url(../imagenes/imagenes/frutasycereal.jpg);
}
.sopas{
    grid-area:sopas;    
    background-image: url(../imagenes/imagenes/cremadezanahoria.jpg);
}
.desayunos{
    grid-area:desayunos;
    background-image: url(../imagenes/imagenes/champiñonRelleno.jpg);  
}
.canal{
    grid-area:canal;
}


.header{
    grid-area: header;
}
.footer{
    grid-area: footer;
}


/* CONTACTO */
.contenedorContacto{
    width: 100%;
    height: 100vh;
    background-color: #ff8c00;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 1fr;
    grid-template-areas: 
    "logoContacto logoContacto logoContacto"
    "formulario    formulario  formulario"
    "header      header         header"
    "footer      footer         footer";

    
}
.logoContacto{
    grid-area: logoContacto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.logoContacto img{
    width: 200px;
}
.formulario{
    
    grid-area: formulario;
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: space-around;  
    background-color: #ff8c00;     
    margin: 10px 0;
    padding: 2rem 0;
    
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 70%;
    padding: 2rem;
    background-color: rgb(55, 129, 129);
    border-radius: 50px;  
    
}
.botonFormulario{
    width: 5rem;
    margin-inline: auto;
    
}







/* MEDIAQUIERIES */
/* ______________ */

/* HEADER Y FOOTER */
/* 481px — 768px: Tablets / Ipdas */
@media screen and (max-width: 768px) {
    
    
    .menu{         
        flex-direction: column;
        align-items:center;
        font-size:x-large;
    }
}

/* 320px — 480px: Mobile */
@media screen and (max-width: 480px) {
    
    .menu{         
        flex-direction: column;
        align-items:center;
        font-size: medium;
    }  
    .footer .logo{
       width: 2.5rem;
    }
}
/* NOSOTROS */
/* 481px — 768px: Tablets / Ipdas */
@media screen and (max-width: 768px) {
    .containerNosotros{
        grid-template-columns: 1fr 1fr 2fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "quienesSomos quienesSomos imgQ"
        "imgM         imgM         mision"        
        "vision       vision       imgV"
        "header       header       header"
        "footer       footer       footer";
    }
    
}

/* 320px — 480px: Mobile */
@media screen and (max-width: 480px) {
    .containerNosotros{
    grid-template-columns: 2fr;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: 
    "quienesSomos "
    "imgQ "
    "mision"
    "imgM"               
    "vision"
    "imgV"
    "header" 
    "footer"     
    }
    
}

/* PRODUCTOS */

/* 769px — 1024px: Laptops pantalla pequeñas. */
@media screen and (max-width: 1024px) {
    .contenedorProductos{
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas: 
        
        "vitaminas descripcion"
        "granos  descripcion"
        "frutosSecos  descripcion"               
        "frutas  descripcion"
        "verduras  descripcion" 
        "salsas  descripcion"
        "header header"     
        "footer footer"     
        }
} 
/* 481px — 768px: Tablets / Ipdas */
@media screen and (max-width: 768px) {
    .contenedorProductos{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas: 
        "descripcion descripcion"
        "vitaminas vitaminas"
        "granos granos"
        "frutosSecos frutosSecos"               
        "frutas frutas"
        "verduras verduras" 
        "salsas salsas"
        "header header"     
        "footer footer"     
        }
} 
/* 320px — 480px: Mobile */
@media screen and (max-width: 480px) {
    .contenedorProductos{
    grid-template-columns: 2fr;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: 
    "descripcion"
    "vitaminas"
    "granos"
    "frutosSecos"               
    "frutas"
    "verduras" 
    "salsas" 
    "header"     
    "footer"     
    }   
} 


/* RECETAS */

/* 769px — 1024px: Laptops pantalla pequeñas. */
@media screen and (max-width: 1024px) {
    .contenedorRecetas{
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
        
        "zumos          descripcion"
        "ensaladas      canal"
        "sopas          canal"
        "desayunos      canal"
        "header         header"
        "footer         footer ";    
        }
} 
/* 481px — 768px: Tablets / Ipdas */
@media screen and (max-width: 768px) {
    .contenedorRecetas{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
        "descripcion       descripcion"
        "zumos             ensaladas"
        "sopas             desayunos "
        "canal             canal"
        "header            header"
        "footer            footer ";     
        }
} 
/* 320px — 480px: Mobile */
@media screen and (max-width: 480px) {
    .contenedorRecetas{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: 
    "descripcion"
    "zumos"
    "ensaladas"
    "desayunos"
    "sopas"
    "canal"
    "header"               
    "footer";        
    } 
    iframe{
        width: 100%;
    }  
} 
/* CONTACTO*/

/* 1025px — 1200px: Escritorio, pantallas grandes. */
@media screen and (max-width: 1200px) {
    .contenedorContacto{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 3fr 1fr 1fr;
        grid-template-areas: 
        "logoContacto logoContacto logoContacto"
        "formulario    formulario  formulario"
        "header      header         header"
        "footer      footer         footer";
    }
    .formulario{
        margin:8px 0;
        padding: 1.5rem 0;
    }
} 
/* 769px — 1024px: Laptops pantalla pequeñas. */
@media screen and (max-width: 1024px) {
    .contenedorContacto{
        grid-template-columns: 2fr;
        grid-template-rows: 1fr 3fr 1fr 1fr;
        grid-template-areas: 
        "logoContacto"
        "formulario"
        "header"
        "footer";
    }
    .formulario{
        margin:5px 0;
        padding: 1rem 0;
    }
} 
/* 481px — 768px: Tablets / Ipdas */
@media screen and (max-width: 768px) {
    .contenedorContacto{
        grid-template-columns: 2fr;
        grid-template-rows: 1fr 3fr 1fr 1fr;
        grid-template-areas: 
        "logoContacto"
        "formulario"
        "header"
        "footer";
    }
    .formulario{
        margin:5px 0;
        padding: 1rem 0;
} 
/* 320px — 480px: Mobile */
@media screen and (max-width: 480px) {
    .contenedorContacto{
        grid-template-columns: 2fr;
        grid-template-rows: 1fr 3fr 1fr 1fr;
        grid-template-areas: 
        "logoContacto"
        "formulario"
        "header"
        "footer";
    } 
    .formulario{
        margin:5px 0;
        padding: 1rem 0;
    }
}