/* MEDIDAS MEDIA QUIERIES 
Medidas aprox de media queries

320px — 480px: Mobile

481px — 768px: Tablets / Ipdas

769px — 1024px: Laptops pantalla pequeñas.

1025px — 1200px: Escritorio, pantallas grandes.

1201px and more — Super pantallas, tv*/

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Fontdiner+Swanky&family=Galindo&family=Ribeye+Marrow&family=Seymour+One&family=Swanky+and+Moo+Moo&display=swap');
/* font-family: 'Bungee Outline', cursive;
font-family: 'Fontdiner Swanky', cursive;
font-family: 'Galindo', cursive;
font-family: 'Ribeye Marrow', cursive;
font-family: 'Seymour One', sans-serif;
font-family: 'Swanky and Moo Moo', cursive; */
/* RESET */
*{margin: 0;padding: 0;box-sizing: border-box;}
a{text-decoration: none; color: aliceblue;}

.containerHero{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-template-areas: 
    "logo   logo   logo"
    "banner banner banner"
    "header header header"
    "footer footer footer";
}
.containerHero>div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-color: #ff8c00;
    grid-area: logo;
    
}
.logo img{
    width: 50%;
}
.banner{
    background-color: #ff8c00;
    grid-area: banner;
}
.banner img{
    width: 100%;
    bottom: 0;
}
.header{
    background-color: rgb(0, 0, 0);
    grid-area: header;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}
.menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.menu__item.active a, .menu__item a:hover{color: darkorange;}
.footer{
    background-color: rgb(255, 255, 255);
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem 0;
    border: 15px solid black;
}
.footer .logo{
    width: 3rem;
    background-color: aliceblue;
}
/* NOSOTROS */
.containerNosotros{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 2fr 2fr 1fr 1fr;
    grid-template-areas: 
    "quienesSomos quienesSomos quienesSomos"
    "mision       mision       mision"
    "vision       vision       vision"
    "header       header       header"
    "footer       footer       footer";
}

.quienesSomos{
    grid-area:quienesSomos ;
    background-color: #ff8c00;
    display: flex;    
}
.info__quienes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img__quienesSomos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img__quienesSomos img{
    width: 50%;
    
    
}


   
.mision{
    grid-area:mision ;
    display: flex;
    flex-direction: row-reverse;
    background-color: #ff8c00;
   
   
}
.info__mision{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img__mision{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img__mision img{
    width: 50%;
}
.vision{
    grid-area:vision;
    display: flex;
    background-color: #ff8c00;
    
}

.info__vision{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img__vision{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img__vision img{
    width: 50%;
    
}
.vision{
    grid-area:vision ;
    display: flex;
}
   
.header{
    grid-area:header ;
}
.footer{
    grid-area: footer;
}

/* PRODUCTOS */

.contenedorProductos{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 3fr 1fr 1fr;
    grid-template-areas: 
    "descripcion bannerProducto bannerProducto"
    "descripcion bannerProducto bannerProducto"
    "productos   productos      productos"
    "header      header         header"
    "footer      footer         footer";
}

.bannerProducto{
    grid-area:bannerProducto ;
    background-color: #ff8c00;

}
.descripcion{
    grid-area:descripcion ;
    background-color: #ff8c00;
}
.productos{
    grid-area:productos ;
    
    background-color: #ff8c00;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(2, 2fr);

    
}
.header{
    grid-area: header;
}
.footer{
    grid-area: footer;
}

.bannerProducto img{
    width: 100%;
    height: 400px;
    transform: rotate(-180deg);

}
.cards{
    width: 300px;
    background-color: rgb(121, 197, 197);
    padding: 10px;
    margin: 50px;
    border-radius: 10px;
    display: inline-block;

}
.imagenCards{
    width: 100%;
    margin-bottom: 20px;
}
.cards h3{
    font-size: 40px;
    text-align: center;
    font-family: fantasy;
}
.cards p{
    font-size: 20px;
    font-family:;
    margin-bottom: 10px;
}
.cards button{ 
    background-color: black;
    color: aliceblue;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    

}